version: "3.9"

networks:
  sweat-token:
    name: sweat-token

services:
#  contracts:
#    command: echo "TBD"
#    working_dir: /app/contracts
#    restart: unless-stopped
#    build:
#      context: ./
#      dockerfile: Dockerfile
#    image: sweat-token/dev
#    networks:
#      - sweat-token
#    volumes:
#      - ./contracts:/app/contracts
  backend:
    command: yarn run start:debug
    working_dir: /app/backend
    depends_on:
      - mongo
    ports:
      - 3001:3001
      - 9229:9229
    restart: unless-stopped
    build:
      context: ./
      dockerfile: Dockerfile
    image: sweat-token/dev
    networks:
      - sweat-token
    environment:
      - DATA_DIR=/data
      - LOG_LEVEL=info
    volumes:
      - ./backend:/app/backend
  frontend:
    command: yarn start
    working_dir: /app/frontend
    depends_on:
      - backend
      - mongo-express
    ports:
      - 3000:3000
    restart: unless-stopped
    build:
      context: ./
      dockerfile: Dockerfile
    image: sweat-token/dev
    networks:
      - sweat-token
    environment:
      - DATA_DIR=/data
      - LOG_LEVEL=info
    volumes:
      - ./frontend:/app/frontend
  mongo:
    image: mongo
    restart: unless-stopped
    networks:
      - sweat-token
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: root
    #   MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    restart: unless-stopped
    networks:
      - sweat-token
    depends_on:
      - mongo
    ports:
      - 8081:8081
    # environment:
      # ME_CONFIG_MONGODB_ADMINUSERNAME: root
      # ME_CONFIG_MONGODB_ADMINPASSWORD: root
      # ME_CONFIG_MONGODB_URL: mongodb://root:root@mongo:27017/